version: '3.8'
services:
  app:
    image: {{ app_image }}
    ports:
      - "{{ app_port }}:4000"
    depends_on:
      mongo:
        condition: service_healthy

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]

volumes:
  mongo-data:
